
<%- include('header') -%>

<div class="main-sidebar"> 
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar "  >

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
            <li><a href="/"><i class="fa fa-sign-out"></i> <span>Déconnexion</span></a></li>

        <!-- Optionally, you can add icons to the links -->
        <li class="header"> Admin</li>
        <li class="treeview">
          <a href="#">
            <i class="fa  fa-user"></i> <span>Etudiants</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="etudiants_list"><i class="fa fa-list-alt"></i> Liste des étudiants</a></li class="active">
            <li><a href="ajouter_etudiant"><i class="fa fa-user-plus"></i> Ajouter étudiant</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-tasks"></i>
            <span>Filières</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="filieres_list"><i class="fa fa-list-ul"></i> Liste des filières</a></l class="active"i>
            <li><a href="ajouter_filiere"><i class="fa fa-plus-square"></i> Ajouter filière</a></li>
          </ul>
        </li>  

        <li>
          <a  href="statistics">
            <i class="fa fa-pie-chart"></i> <span>Statistiques</span>
          </a>
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
</div>

<div class="content-wrapper background">

  <section class="content" style="margin-left:3%; margin-right:3%; ">
    
    <div class="box">
      <div class="box-header">
         <h3 class="box-title grand_titre"> <b>Liste des étudiants</b></h3>
            
        <legend style="margin-top:1.5%" > </legend>
      </div>
      <!-- /.box-header -->
     <div class="box-body" style="margin-top:-2%; padding:1%" >
              
          <div class="row box_row" style="margin-top:2%">
            <div id="content">
              <%for(i=0; i<etudiants.length; i++){%>

            <div class="col-md-3 col-sm-6 col-xs-12" style="margin-top: 1%">
                <div class="box7">
                    <span class="info-box-icon  " >
                       <img class="info-box-icon " src="/assets/uploads/images/<%= etudiants[i].image.data %>" style="width:100%; height:100%">
                    </span>
                  <div class="info-box-content" >
                    <span class="info-box-text text_align_name1 black">
                      <span><%= etudiants[i].nom  %></span>&nbsp;
                      <span><%= etudiants[i].prenom %></span>
                    </span>
                      <span class="info-text absenceNumber"> <span></span></span>
                   
                  </div>
                  
                  <div class="box-content"  style="margin-top:5%" >
                    <ul class="icon" style="background-color: transparent;">
                      <li> 
                        <a href="etudiant_infos/<%= etudiants[i]._id %>"><i class="fa fa-info-circle"  style="color:white; "></i>
                        </a>
                      </li>
                      <li>
                        <a href="etudiant_edit/<%= etudiants[i]._id %>"><i class="fa fa-wrench" style="color:white; "></i></a>
                      </li>
                      <li> <a data-toggle="modal" data-target="#modal-default4<%= etudiants[i]._id %>" > <i class="fa fa-minus-square-o  " style="color:white;"  > </i></a></li>
                      </ul>
                 </div>
                </div>
            </div>

            <div class="modal fade" id="modal-default4<%= etudiants[i]._id %>">
            <div class="modal-dialog">
              <div class="modal-content content_modal" >
                <div class="modal-body">
                  
                  <p class="delete_body">Voulez-vous vraiment supprimer cette étudiant ?&hellip;</p>
                  <p class="delete_attention">Etes-vous sùr ?!!! </p>
                </div>
                <div class="modal-footer" >
                  <a href="etudiants_list/etudiant_delete/<%= etudiants[i]._id %>"><button type="button" class="btn btn-default pull-left hover_delete_modal" data-dismiss="modal{{etudiants[i]._id}}" >Supprimer</button></a>
                  <button type="button" class="btn btn-primary hover_annuler_modal" data-dismiss="modal" >Annuler</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
            </div>
             <% } %>
            </div>

          <div id="searchDiv">
            
          </div>
         </div>
              <nav aria-label="Page navigation example" style="margin-left:38%">
                <ul class="pagination justify-content-center">
                
                </ul>
              </nav>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

  </section>
<!-- /.content -->

</div>

<%- include('footer') -%>





        








